/*@keyframes appear {
    from {
        opacity: 0;
        transform: translate(0,10%);
    
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
*/

html {
    scroll-behavior: smooth;
}

h1 {
    color: #35312E;
    font-size: 38px;
    font-family: "Manrope", sans-serif;
    text-align: center; /* Center the text */
    margin-top: 40px ; /* Add some margin to separate from the top */
    margin-bottom: 10px;
}

.container {
    text-align: center; /* Center content inside the container */
    
}

ul {
    list-style-type: none; /* Removes bullet list dot */
    margin: 0;
    padding: 0;
}

li {
    display: inline-block; /* Change to inline-block for horizontal alignment */
}

li a { /*knappen*/
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none; /* Removes underline */
    font-family: "Manrope", sans-serif; 
    color: #35312E;
    transition: color 0.3s ease, font-weight 0.3s ease; /*ease är default, behövs egentligen inte*/
}

li a:hover {
    color: #F7A0BD;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
    align-items: center; /* Centers content horizontally */
    background-color: #FDECD8;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

h2 {
    color: #35312E;
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    text-align: center; /* Center the text */
}

p {
    color: #35312E;
    font-family: "Manrope", sans-serif;
    text-align: center; /* Center the text */
}

.photo-gallery-container{
    margin-left: 300px;
    margin-right: 300px;
    display: grid;
    grid-template-rows: repeat(3, 350px);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px 30px;
}


.gallery-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
/*
    transition: zoom 0.3s;
    
    animation: appear 5s linear;
    animation-timeline: view(); /*gör så att animationen händer när bilderna är i viewn, alltså när man scrollar*/
    animation-range: entry 0; /*börjar direkt så animationen är klar på typ halva skärmen*/*/
}

.gallery-image:hover {
    zoom: 1.5;
    
    
}

h2 {
    color: #35312E;
    font-size: 30px;
    font-family: "Manrope", sans-serif;
    margin-bottom: 0px;

}


.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
}


.contact-container {
   height: 70vh;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}

/*hr line in contact*/
.contact hr{
    border: none;
    width: 300px;
    height: 3px;
    background-color: #C293BC;
    border-radius: 2px;
}

/*h2 titel in contact reaches the line hr*/
.contact-titel h2{
    border-bottom: 300px;
}

/*Affects all the input boxes in contacts*/
.contact-input{
    box-sizing: border-box;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 50px;

    font-family: "Manrope", sans-serif;
    color: #35312E;
    
}

.contact-input::placeholder{
    color: #35312E;
}

.contact button {
    padding: 15px 30px;
    font-size: 16px;
    color:#FDECD8;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: #F7A0BD;
    transition: background-color 0.3s ease;
}

.contact button:hover{
    background-color:#C293BC;
   
    
}

/*focus effect for input field*/
.contact-input:focus{
    border: 2px solid #F7A0BD;
}

/*The text-area box in contacts*/
.contact textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

textarea {
    resize: none;
    
}

.footer {
    display: flex;
    
}

@media (max-width: 800px) {
    /*chnages the width to fit phone-screen*/
    .contact-input{
        width: 80vw;
    }
}

